html, body {
	font-family: "Calibri", sans-serif;
	font-size: 11pt;
	background-color: white;
}
h1, h2, h3, h4 {
	text-transform: uppercase;
	font-size: 1em;
	padding: 0.2em 1em;
	margin: 2em 0px 1em;
	clear: both;
}
h1 { background-color: #C4D600; }
h2 { background-color: #F9FFC3; }
h3 {
	border: #C4D600 solid;
	border-width: 1px 1px 0 1px;
}

ol.alpha {
	list-style-type: lower-alpha;
}
li {
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}

div.image,
div.figure,
div.video {
	margin-bottom: 1em;
	clear: both;
	position: relative;
}
div.image img,
div.image .row,
div.video img {
	display: block;
	margin: 1em auto;
	max-width: 90%;
	max-width: calc(100% - 2em);
	max-width: -webkit-calc(100% - 2em);
}
div.image .row { text-align: center; }
div.image .row img { display: inline; }
div.image .composed {
 position: relative;
 margin: 0 auto;
}
div.image p,
div.figure p.caption,
div.video p {
	font-weight: bold;
	color: #92A000;
}

table.table {
	border-collapse: collapse;
    margin: 1em 0;
}
table.table td, table.table th {
	border: 1px solid #333;
	padding: 0.1em 0.5em;
	vertical-align: top;
}
table.table th {
	background-color: #ddd;
}
table.table td.numeric {
 text-align: right;
}

table.maths {
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
}
table.maths td {
 padding: 0 5px;
 vertical-align: middle;
 text-align: left;
}
table.maths .lhs { text-align: right; }
table.maths .eq { text-align: center; }
table.maths .rhs { text-align: left; }
table.maths .nominator { text-align: center; border-bottom: 1px solid black }
table.maths .denominator { text-align: center; border-top: 1px solid black }

.todo, .TODO {
 color: red !important;
}
.inline-block {
 display: inline-block;
 vertical-align: middle;
}

.r { text-align: right; }
